<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ResqueSharp</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header id="header">
        <div class="content-wrapper">
            <ul id="menu">
                <li id="menu-overview">@Html.ActionLink("Overview", "overview", "resque")</li>
                <li id="menu-working">@Html.ActionLink("Working", "working", "resque")</li>
                <li id="menu-failed">@Html.ActionLink("Failed", "failed", "resque")</li>
                <li id="menu-queues">@Html.ActionLink("Queues", "queues", "resque")</li>                
            </ul>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - ResqueSharp</p>
            </div>
        </div>
    </footer>
</body>
</html>
