@model IEnumerable<ResqueSharp.Models.FailureSummary>
@{
    ViewBag.Title = "Failed Jobs";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count() > 0)
{
    <p>Showing @ViewBag.From to @ViewBag.To of @ViewBag.Count jobs</p>
    <ul class="failed">
        @foreach (var failure in Model)
        {
            <li>
                <dl>
                    <dt>Worker</dt>
                    <dd>
                        @failure.Worker on <strong>@failure.Queue</strong> at @failure.Failed_at
                    </dd>
                    <dt>Class</dt>
                    <dd><code>@failure.Payload.Class()</code></dd>
                    <dt>Arguments</dt>
                    <dd>
                        <pre>{@Newtonsoft.Json.JsonConvert.SerializeObject(failure.Payload.args)}</pre>
                    </dd>
                    <dt>Exception</dt>
                    <dd><code>@failure.Error</code></dd>
                    <dt>Error</dt>
                    <dd class="error">
                        <a href="#" class="backtrace">@failure.Error</a>
                        <pre style="display: none">@failure.Backtrace</pre>
                    </dd>
                </dl>
            </li>   
        }
    </ul>
    <p>
        @if (ViewBag.HasPreviousPage) {
            <text>@Html.ActionLink("less", "failed", new { page = ViewBag.PreviousPage })</text>
        }

        @if(ViewBag.HasNextPage) {
            <text>@Html.ActionLink("more", "failed", new { page = ViewBag.NextPage })</text>
        }        
    </p>
}
else
{
    <p>No failed jobs.</p>
}

<script>
    $(function () {
        $("#menu-failed").addClass("selected");

        $("dd.error").on("click", function (e) {
            $(this).find("pre").toggle();

            e.preventDefault();
        });
    });
</script>
<style>
    ul.failed {
        padding: 0;
        margin: 0;
    }
    
    ul.failed li {
        list-style-type: none;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        border: 1px solid #CCC;
        overflow: hidden;
        background-color: white;
    }

        ul.failed li dl dt {
            font-size: 0.75em;
            font-weight: bold;
            width: 60px;
            float: left;
            padding-top: 4px;
            text-align: right;
        }

        ul.failed li dl dd {
            margin-bottom: 10px;
            margin-left: 70px;
        }
</style>
