@model IEnumerable<ResqueSharp.Models.FailureSummary>
@{
    ViewBag.Title = "Failed Jobs";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count() > 0)
{
    <p style="float: left">Showing @ViewBag.From to @ViewBag.To of @ViewBag.Count jobs</p>
    
    using (Html.BeginForm("ClearFailed", "resque"))
    {
        <input type="submit" value="Clear failed jobs" />    
    }
    
    using (Html.BeginForm("RequeueAll", "resque"))
    {
        <input type="submit" value="Retry failed jobs" />    
    }    
    
    <ul class="failed">
        @foreach (var failure in Model)
        {
            <li>
                <dl>
                    <dt>Worker</dt>
                    <dd>
                        @failure.Worker on <strong>@failure.Queue</strong> at @failure.Failed_at
                        <div class="retried">
                            <strong>@( failure.Retried_at.HasValue ? "Retried at " + failure.Retried_at.ToString() : "Never retried" )</strong>
                        </div>
                    </dd>
                    <dt>Class</dt>
                    <dd><code>@failure.Payload.Class()</code></dd>
                    <dt>Arguments</dt>
                    <dd>
                        <pre>{@Newtonsoft.Json.JsonConvert.SerializeObject(failure.Payload.args)}</pre>
                    </dd>
                    <dt>Exception</dt>
                    <dd><code>@failure.Error</code></dd>
                    <dt>Error</dt>
                    <dd class="error">
                        <a href="#" class="backtrace">@failure.Error</a>
                        <pre style="display: none">@failure.Backtrace</pre>
                    </dd>
                </dl>
            </li>   
        }
    </ul>
    <p>
        @if (ViewBag.HasPreviousPage)
        {
            <text>@Html.ActionLink("less", "failed", new { page = ViewBag.PreviousPage })</text>
        }

        @if (ViewBag.HasNextPage)
        {
            <text>@Html.ActionLink("more", "failed", new { page = ViewBag.NextPage })</text>
        }        
    </p>
}
else
{
    <p>No failed jobs.</p>
}

<script>
    $(function () {
        $("#menu-failed").addClass("selected");

        $("dd.error").on("click", function (e) {
            $(this).find("pre").toggle();

            e.preventDefault();
        });
    });
</script>
